// Variables

$white: #fff;
$yellow: #ffc40c;
$blue: #00b8e2;
$green: #99c03c;
$graphite: #394b50;
$orange: #e76924;
$gray-footer: #828282;
$gray-text: #7b7b7b;
$gray-font-table: #707070;
$gray-table: #b5b5b5;
$gray-line: #e0e0e0;
$gray-menu: #868686;
$test-color: #ff11c4;

$font-primary: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-secondary: "Myriad Pro", Calibri, sans-serif;
